
.hero {
    grid-column: 1/span 12;
    grid-row: 1/span 1;

    height: 465px;
    color: #FFFFFF;
}

.hero-bg {
    background-color: #6F6E6E;
    height: 405px;
    width:100%;
    position:absolute;
    z-index: -1;
}

.hero .displayTitle {
    color: #F4CE14;
    margin-top: 30px;
    width: 290px;
}

.hero .subtitle {
    margin-top:-16px;
    margin-bottom:12px;
}

p.heroText {
    font-size: 20px;
    font-weight: 500;
    width: 270px;
    line-height: 140%;
}

.heroInner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.heroInfo{
    grid-column: 1/span 1;
    grid-row: 1/span 1;
}

.heroImgContainer {
    grid-column: 2/span 1;
    grid-row: 1/span 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.heroImgContainer img{
    width: 350px;
    height: 400px;
    object-fit: cover;
    border-radius: 16px;
}