.highlights {
    margin-top: 20px;
    margin-bottom: 20px;
    grid-row: 2/span 1;
}

.cardHolder {
    margin: 32px auto 0 auto;
    display:flex;
    justify-content: space-between;
    column-gap: 20px;
    
    width: 100%;
    max-width: 1000px;
}

.highlightsHeader {
    display:flex;
    justify-content: space-between;

    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}