.highlights {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cardHolder {
    margin: 32px auto 0 auto;
    display:flex;
    justify-content: space-between;
    gap: 20px;
}

.highlightsHeader {
    display:flex;
    justify-content: space-between;

    white-space: nowrap;
}

@media (max-width: 840px) {
    .highlightsHeader {
        flex-direction: column;
    }

    .cardHolder {
        flex-wrap: wrap;
        justify-content: center;
    }
}