.testimonials {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 32px 0;

    background-color: #6F6E6E;
}

.testimonials h1 {
    text-align: center;
}

.testimonialContainer {
    display:flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 20px;
}

@media (max-width: 840px) {
    .testimonialContainer {
        flex-wrap: wrap;
        justify-content: center;
    }
}