
.testimonialCard {
    /*
    aspect-ratio: 200 / 175;
    max-width: 200px;*/
    width: 200px;
    height: 175px;

    padding: 16px;
    background-color: #FBDABB;

    display: inline-flex;
    flex-direction: column;
    row-gap: 16px;
    justify-content: top;

    border-radius: 8px;
}

.testimonialCard .stars{
    display: flex;
    gap: 4px;
}

.testimonialCard .stars img {
    width: 24px;
}

.testimonialBio {
    display: flex;
    align-items: center;
    gap: 24px;
}

.testimonialBio img {
    width: 64px;
    border-radius: 50%;
}