
* {
  padding: 0;
  margin: 0;
  font-family: 'Karla', sans-serif;
}

h1 {
  font-family: 'Markazi Text', serif;
}

h1.displayTitle {
  font-size: 64px;
  font-weight:500;
}

h1.subtitle {
  font-size: 40px;
  font-weight:400;
}

h1.sectionTitle {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}

h1.cardTitle {
  font-size: 18px;
  font-weight: bold;
}

p, span, h1.cardTitle, .btn {
  font-family: 'Karla', sans-serif;
}

.sectionCategory {
  font-size: 16px;
  font-weight:800;
}

.leadText {
  font-size: 18px;
  font-weight: 500;
}

.paragraphText {
  font-size: 16px;
  font-weight: 400;
  color: #495E57;
}

.highlightText {
  font-size: 16px;
  font-weight: 500;
  color: #495E57;
}

.imgContainer {
  display:flex;
  justify-content: center;
}

.logoImg {
  width: 100%;
  max-width: 180px;
  min-width: 120px;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width:200px;
  height:60px;

  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: black;

  border: none;
  border-radius: 16px;
  box-shadow: none;
  cursor: default;
  background-color: #F4CE14;

  transition: 0.2s;
}

.btn:hover:not([disabled]) {
  box-shadow: 0 1px 4px darkslategray;
  background-color: #ffdd32;
  cursor:pointer;

  transform: scale(1.03);
  transition-duration: 0.1s;
}

.btn:active:not([disabled]) {
  box-shadow: 0 1px 4px inset slategray;
  background-color: #dbbc1e;

  transform: scale(0.98);
  transition-duration: 0.1s;
}

.navList ul {
  list-style-type: none;
  white-space: nowrap;
}

.navList li {
  display:inline-block;
  flex-shrink: 0;
}

.navList a {
  text-decoration: none;
  color: black;
}

.navList a:hover {
  text-decoration: underline black 2px;
}

.homepageMaxWidth {
  width:80%;
  max-width: 1000px;
  margin: 0 auto;
}

.app {
  display: flex;
  flex-direction: column;
}

/*
@media not (max-width: 840px) {
  .app {
    grid-template-rows: repeat(3, auto);
  }

  .lg-grid12col {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr) repeat(8, 1fr) repeat(2,0.5fr);
    column-gap: 20px;
  }

  .middle8columns {
    grid-column: 3/span 8;
}
}

@media (max-width: 840px) {
  .app {
    grid-template-rows: repeat(4, auto);
  }

  .sm-grid1col {
    display: grid;
    grid-template-columns: auto;
  }
}
*/