
.ft-inner {
    display: flex;
    justify-content: space-between;
}

footer .navList {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 500;

    padding-top: 8px;
    border-top: 2px solid #6F6E6E;
    border-radius: 4px;
}

footer {
    padding: 32px 0 24px 0;
    background-color: #FBDABB;
}

footer .cardTitle {
    margin-bottom: 4px;
}

@media (max-width: 840px) {
    .ft-inner {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .ft-logo {
        width: 100%;
    }
}