
header {
  display: flex;
  justify-content: space-between;
}

@media not (max-width: 840px) {
  header {
    flex-direction: row;
    grid-column: 3/span 8;
    grid-row: 1/span 1;
  }
  
  header img {
    max-width: 180px;
  }
}

@media (max-width: 840px) {
  header {
    flex-direction: column;
    grid-column: 1/span 1;
    grid-row: 1/span 1;
  }
}