
header {
  display: flex;
  justify-content: space-between;
}

@media not (max-width: 840px) {
  header {
    flex-direction: row;
  }

  header img {
    max-width: 180px;
  }
}

@media (max-width: 840px) {
  header {
    flex-direction: column;
  }
}