
.headerNav {
    height: 120px;
    flex-grow: 1;
}

.headerNav ul{
    height: 100%;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: flex-end;
    gap: min(4%, 28px);
}

@media (max-width: 840px) {
    .headerNav ul {
        justify-content: center;
    }
}