
@media not (max-width: 600px) {
  .app {
    grid-template-rows: repeat(3, auto);
  }

  .lg-grid12col {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
  }
}

@media (max-width: 600px) {
  .app {
    grid-template-rows: repeat(4, auto);
  }

  .sm-grid1col {
    display: grid;
    grid-template-columns: auto;
  }
}